/* import font */
@font-face {
  font-family: GothamBold;
  src: url(../fonts/GothamBold.ttf);
}

@font-face {
  font-family: GothamMedium;
  src: url(../fonts/GothamMedium.ttf);
}
@font-face {
  font-family: georgiaitalic;
  src: url(../fonts/georgiaitalic.ttf);
}
@font-face {
  font-family: Netproxima;
  src: url(../fonts/Netproxima.ttf);
}

/* ===============common style start================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: GothamMedium, sans-serif;
  font-family: GothamBold, sans-serif;
  font-family: georgiaitalic, sans-serif;
  font-family: Netproxima, sans-serif;
}

ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.clr {
  clear: both;
}

.wrapper_full {
  width: 100%;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* ===============common style end================= */

/* ===============header style start================= */
.header_part {
  padding: 40px 0;
}

.header_part .logo {
  float: left;
  width: 75px;
}

.header_part .menu {
  float: right;
}

.header_part .menu ul li {
  display: inline-block;
  padding-left: 90px;
}

.header_part .menu ul li a {
  display: block;
  font-family: GothamMedium, sans-serif;
  color: #a7a7a7;
  padding: 5px 0;
  text-transform: uppercase;
}

/* ===============header style end================= */

/* ===============hero style start================= */

.hero_part {
  background-image: url(../images/hero_img.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  transform: scale(1);
  background-attachment: fixed;
  text-align: center;
}

.banner_content {
  width: 500px;

  margin: 0 auto;
  padding-top: 172px;
}

.banner_content h1 {
  font-size: 40px;
  font-family: GothamBold, sans-serif;
  color: #303030;
  text-transform: uppercase;
}

.banner_content p {
  font-size: 16px;
  color: #5a5a5a;
  font-family: georgiaitalic, sans-serif;
  padding-top: 30px;
}

.banner_button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #e9ecea;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  margin-bottom: 50px;
}

.banner_button .up_button {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 25%);
}
.banner_button a i {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ===============hero style end================= */

/* =====================common title start=========== */
.common_title {
  text-align: center;
  width: 0 auto;
  padding: 50px 0;
}
.common_title h1 {
  position: relative;
  font-size: 30px;
  font-family: GothamBold, sans-serif;
  color: #303030;
  text-transform: uppercase;
  display: inline-block;
}
.common_title h1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -20px;
  background: #000;
}
/* =====================common title end========== */

/* featured style start */

.teampert_text p,
.featured_text p {
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
  /* padding-top: 55px; */
  width: 550px;
  font-size: 16px;
  font-family: Netproxima, sans-serif;
  color: #5a5a5a;
}

.featured_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
/* featured style end */

/* team part start */
.team_parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.team_part {
  background: #f3f3f3;
  /* height: 1000px; */
}

.team_section {
  width: 210px;
  height: 210px;
  background: #fff;
  box-shadow: 3px 5px 10px 0px rgb(0 0 0 / 25%);
}

.team_img {
  margin: 0 auto;
}

.team_section {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.team_text h3 {
  font-size: 16px;
  color: #303030;
  font-family: GothamBold, sans-serif;
}
.team_text p {
  font-size: 12px;
  color: #303030;
  font-family: georgiaitalic, sans-serif;
  text-align: center;
  padding: 14px 0;
}

.team_sicon ul {
  display: flex;
  align-items: center;
}

.team_sicon ul li {
  padding: 0 10px;
  font-size: 16px;
}

.team_sicon ul li a {
  color: #7f7f7f;
}
/* team part end */

/* contact part start */
.form_part {
  float: right;
  width: 540px;
  padding-bottom: 70px;
}
textarea::placeholder {
  /* padding: 30px; */
  font-size: 16px;
  font-family: georgiaitalic, sans-serif;
}

.form_part textarea {
  width: 540px;
  height: 236px;
  background: #f2f2f2;
  border: 2px solid #d9d9d9;
  padding: 30px;
}
.form_part input {
  width: 313px;
  height: 60px;
  background: #f2f2f2;
  border: 2px solid #d9d9d9;
  margin-top: 25px;
  padding-left: 30px;
}
input::placeholder {
  font-family: georgiaitalic, sans-serif;
}
.form_part button {
  height: 60px;
  width: 200px;
  background: #6995a9;
  border: 2px solid #fff;
  float: right;
  margin-top: 25px;
  font-size: 16px;
  color: #fff;
  font-family: GothamBold, sans-serif;
  box-shadow: 3px 5px 10px 0px rgb(0 0 0 / 25%);
  cursor: pointer;
}
.form_part button i {
  padding-right: 15px;
}
.map_part {
  float: left;
}

.contact h4 {
  font-size: 16px;
  color: #5a5a5a;
  font-family: Netproxima, sans-serif;
  padding-bottom: 25px;
}

.map {
  border: 5px solid rgb(236, 236, 236);
}
/* contact part end */

/* ====================footer style start============== */

.footer {
  background: #4f4f4f;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e6e6e;
  font-size: 16px;
  font-family: Netproxima, sans-serif;
}
.footer .st {
  float: left;
}
.footer .st strong {
  color: #949494;
}
.footer .nd {
  float: right;
}

/* ====================footer style end============== */
